.get__started__container {
  text-align: center;
  margin: 2em;
}

.loginBtn {
  background-color: #b2d8d8!important;
}

.loginBtn:hover {
  background-color: #a3c9c9!important;
}

.signupBtn {
  background-color: #4f92ff!important;
}

.signupBtn:hover {
  background-color: #2e7bf7!important;
}

.signupBtn, .loginBtn {
  border-radius: 4.0rem;
  box-shadow: 2.0px 3.0px 10px #bababa;
}